/.gitkeep
/1.0_FM_bloom_clients_inference_summary.parquet
/1.0_FM_bloom_clients_loans_summary.parquet
/1.0_FM_bloom_engineered_features.parquet
/2.0_FM_bloom_clients_tills_summary.parquet
/2.0_FM_bloom_clients_trxn_summary.parquet
/1.0_FM_bloom_lftsv_engineered_features.parquet
/4.0_FM_bloom_merged_data.parquet
/1.1_FM_bloom_td_engineered_features.parquet
/1.1_FM_bloom_td_summary.parquet
/1.0_FM_bloom_lftsv_max_dpd_30.parquet
/before_21d_graduation_limits.parquet
/after_21d_graduation_limits.parquet
/scored_limits.parquet
/after_rmdd_ge95_limits.parquet
/after_rmdd_ge96_limits.parquet
/3.6_FM_bloom_tss_validate_push.parquet
/3.7_FM_bloom_sr_validate_push.parquet
/Limits_refresh_summary_20230207_multiple_products.parquet
/22.0_JN_Limits_refresh_summary_20230207_multiple_products.xlsx
/22.0_JN_Limits_refresh_summary_20230207_multiple_products.parquet
/20.8_FM_bloom_sr_rein_cohort_clean.csv
/20.8_FM_bloom_sr_rein_cohort_clean.parquet
/20.8_FM_bloom_sr_rein_cohort.parquet
/20.8_FM_bloom_sr_rein_cohort_20230324.csv
/Bloom KYC Flag Updates.xlsx
/TU_data_no_limits.parquet
/Limits_refresh_summary_20230817_multiple_products.xlsx
/Limits_refresh_summary_20230914_multiple_products.parquet
/Open_Loans.xlsx
/repayments_by_different_milestones.csv
/repayments_by_different_milestones_2.csv
/repayments_by_different_milestones_2.parquet
/repayments_by_different_milestones.parquet
/Limits_refresh_summary_20230817_multiple_products.parquet
